---
layout: default
---

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
  <div class="post-listing">
    <h2 class="post-list-heading">
      {%- if site.home_posts_title -%}{{ page.list_title | default: "Posts" }}{%- endif -%}
    </h2>
    <div class="row{% if site.post_columns %} fill-height{% endif %}">
      {%- for post in site.posts -%}
        <div class="col s12{% if site.post_columns %} m6{% endif %}">
          <div class="card">
            {% comment %} <div class="card-image"> {% endcomment %}
            {% comment %}   <img src="images/sample-1.jpg"> {% endcomment %}
            {% comment %} </div> {% endcomment %}
            <div class="card-content">
              <a class="btn-floating halfway-fab waves-effect waves-light hoverable" href="{{ post.url | relative_url }}"><i class="material-icons">subdirectory_arrow_right</i></a>
              <h3 class="card-title">
                <a class="post-link" href="{{ post.url | relative_url }}">
                  {{ post.title | escape }}
                </a>
              </h3>
              {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
              <span class="post-meta grey-text">{{ post.date | date: date_format }}</span>
              {%- if site.show_excerpts -%}
              <p>
                {{ post.excerpt }}
              </p>
              {%- endif -%}
            </div>
          </div>
        </div>
        {%- if site.post_columns -%}
          {%- assign the_index_even = forloop.index | modulo: 2 -%}
          {%- if the_index_even == 0 -%}
            </div>
            <div class="row fill-height">
          {%- endif -%}
        {%- endif -%}
      {%- endfor -%}
    </div>

  </div>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
